{% extends 'base.html' %}

<body>
  {% block content %}
  <div class="contenedorGrande">
    <div class="borrarP" id= #borrarProductos> 
      <div class="formEliminar"> 
          <h1 class="tituloForm" >ELIMINAR PRODUCTOS</h1>
        <div class= "rectangulosEliminacion">
          
              <!-- DIV GENERAL -->
      
          <div class ="rectanguloEliminarProducto">
              <form action="{{url_for('opcionesBorrarProducto')}}" method="POST" enctype="multipart/form-data">
                <p> {{ mensaje }}</p>
                <label for="nombre" class="tituloForm2"> Ingrese el nombre del producto que desea eliminar: </label>  <br> <br>
                <input class="inputForm" required type="text" id="categoria" name="nombreProducto" placeholder="Producto a eliminar" /><br>  <br>
          
                <button type="submit" class="botonAdmin" onclick="borrarProducto()"> Buscar</button>
            
              </form>
          
            {% for linea in range (largo) %} 
            <div id="producto">
              <h2 class="producto" style="text-align: center " > {{ productos[linea] }} </h2>
            <img id="imagenProducto" class="imagenProducto"  alt="{{ productos[linea] }} "  src="{{imagenProducto[linea][1:] }}""> 
            </div>
      
            <button type="submit" id="{{ productos[linea] }}" onclick="eliminar('{{ productos[linea] }}')" >  Eliminar Producto </button>
            
            {% endfor %}
          
          </div>  
            <br>
        </div>
          
          <input class="botonAdmin"  type="button" onclick="history.back()" name="Volver" value="Volver">
          <br>
          <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js">
          </script>
        <script src="./static/scripts/main.js"></script>
        
      </div>
    </div>
  </div>
{% endblock content %} 
</body>