{% extends 'base.html' %}

<!--===============================
=            Hero Area            =
================================-->

<body>
{% block content %}
	<section class="hero-area bg-1 text-center overly">
		<!-- Container Start -->
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<!-- Header Contetnt -->
					<div class="content-block">
						<h1>Desarrollos electrónicos</h1>
						<p>A la medida de sus necesiades <br> y con la mejor tecnología a su alcance.</p>
						<div class="short-popular-category-list text-center">
							<img src="{{ url_for('static', filename='img/partner_logo.png') }}"alt="" style="max-width: 250px;">
              
						</div>

					</div>

				</div>
			</div>
		</div>
		<!-- Container End -->
	</section>

	<!--===================================
=            Client Slider            =
====================================-->

	<!--===========================================
=            Popular deals section            =
============================================-->

	<a id="acercade" name = "acercade"></a>
	<section class="section" id= "sectionAcercade">

		<div class="container">
			<div class="row">
				<div class="col-md-9">
					<h2 style="margin-left:20px;">Acerca de nosotros</h2>
					<hr>
          <div class= "acercadeFlex">
              
  					<p style="font-size: medium;margin: 20px;max-width: 1000px;" ><b>Pablo Ginhson</b>, fundador de GINHSON Elektronik, ha tenido sus comienzos en la industria electrónica en Tann, Alemania, de la mano de Walter Heiss. Aplicando sus conocimientos en el departamento de desarrollo de nuevos productos y como Jefe de control de calidad de producción en HEWA Elektronik. Aquella empresa trabajaba para distintos clientes en el área de la industria electrónica. La tarea que Pablo Ginhson desempeñaba era mejorando la calidad de los productos fabricados y posicionando a la empresa como una de las más reconocidas armadoras de productos electrónicos en dicho país. 
  A partir del año 2005, se funda en Argentina GINHSON Elektronik, desarrollando productos propios y para terceros. Dedicándonos día a día a desarrollar e implementar nuevas tecnologías para satisfacer los requerimientos del mercado actual. 
  Nuestro éxito radica en la satisfacción del cliente, logrando dicho objetivo gracias al profesionalismo aplicado y la continua capacitación para poder ofrecer la solución más adecuada para cada necesidad.
  					</p>
  				  <div class="col-md-3 text-center">
  					 <img src= "{{ url_for('static', filename='img/pablo.jpeg') }}" style="border-radius: 50%;     margin: 20px"
  						class="img-fluid img-thumbnail" alt="...">
  				  </div>
          </div>
			</div>
		</div>

	</section>


	<!--==========================================
=            All Category Section            =
===========================================-->
	<a name="servicios" id = "servicios"></a>
	<section class="section" style="background-color: #e3f1e6;">
		<!-- Container Start -->
		<div class="container">
			<div class="row" >
				<div class="col-12">
					<!-- Section title -->
					<div class="section-title">
						<h2>Nuestros servicios</h2>
						<p>Desarrollo y Producción</p>
					</div>
					<div class="row" id="serviciosFlex">
						<!-- Category list -->
						<div class="col-lg-4 offset-lg-0 col-md-5 offset-md-1 col-sm-12 col-12" data-wow-delay="5s">
							<div class="category-block bg-white">
								<div class="header">
									<img src= "{{ url_for('static', filename='img/icons/hardware.png') }}" alt="">
									<h4>Diseño de Hardware</h4>
								</div>
								<p>
									Diseño de circuitos analógicos y digitales. Diseño de circuitos con microcontroladores. Diseños de PCB y diseño mecánico. Prototipos en 3D para facilitar el diseño de matrices y soportes.
								</p>
							</div>
						</div> <!-- /Category List -->
						<!-- Category list -->
						<div class="col-lg-4 offset-lg-0 col-md-5 offset-md-1 col-sm-12 col-12">
							<div class="category-block bg-white">
								<div class="header">
									<img src= "{{ url_for('static', filename='img/icons/code.png') }}" alt="">
									<h4>Diseño de software</h4>
								</div>
								<p>
                 Programación de sistemas integrados, firmware para sistemas embebidos y software de aplicación para PC, Android, IOS.
                </p>
							</div>
						</div> <!-- /Category List -->
						<!-- Category list -->
						<div class="col-lg-4 offset-lg-0 col-md-5 offset-md-1 col-sm-12 col-12">
							<div class="category-block bg-white">
								<div class="header">
									<img src= "{{ url_for('static', filename='img/icons/idea.png') }}" alt="">
									<h4>Diseño llave en mano</h4>
								</div>
								<p>
                 Desde la idea o especificación de diseño inicial, pasando por la creación de prototipos y la documentación, hasta la producción en volumen. Con la idea del cliente se analizan y realizan las especificaciones que se ajusten a la necesidad propuesta. Una vez obtenida la idea, se analiza la viabilidad y se desarrolla el producto que se ajusta a sus necesidades. El cliente materializa su idea.
                </p>
							</div>
						</div> <!-- /Category List -->
						<!-- Category list -->
						<div class="col-lg-4 offset-lg-0 col-md-5 offset-md-1 col-sm-12 col-12">
							<div class="category-block bg-white">
								<div class="header">
									<img src="{{ url_for('static', filename='img/icons/viavility.png') }}"  alt="">
									<h4>Estudio de viabilidad</h4>
								</div>
								<p>
                 ¿Tiene un concepto, pero no está seguro si funcionará? ¿O si se puede producir al precio correcto? Podemos ofrecerle asesoramiento sobre la viabilidad del producto, ofrecer variantes u opciones diferentes y llevarlo al mercado al precio correcto.
                </p>
							</div>
						</div> <!-- /Category List -->
						<!-- Category list -->
						<div class="col-lg-4 offset-lg-0 col-md-5 offset-md-1 col-sm-12 col-12">
							<div class="category-block bg-white">
								<div class="header">
									<img src="{{ url_for('static', filename='img/icons/estude.png') }}" alt="">
									<h4>Revisión de diseño</h4>
								</div>
								<p>
									Quizás haya diseñado un producto y no esté satisfecho con el rendimiento, tal vez no cumpla con las especificaciones o probablemente necesite actualizar su producto para nuevas necesidades. Su actual producto presenta problemas con la confiabilidad o la obsolescencia de los componentes. Nosotros podemos rediseñar, actualizar o modificar su diseño o producto.
								</p>
							</div>
						</div> <!-- /Category List -->
						<!-- Category list -->
						<div class="col-lg-4 offset-lg-0 col-md-5 offset-md-1 col-sm-12 col-12">
							<div class="category-block bg-white">
								<div class="header">
									<img src="{{ url_for('static', filename='img/icons/production.png') }}" alt="">
									<h4>Producción</h4>
								</div>
								<p>
                  Trabajando en estrecha colaboración con nuestros socios de fabricación, podemos proporcionar asesoramiento y soporte con todos los aspectos principales de la producción. Esto incluye prototipos, preproducción y montaje de volumen bajo a medio. Control de producción y test de sus productos antes de ponerlos a disposición de sus clientes. Rediseñamos los procesos actuales de fabricación de sus productos, optimizando y asesorando para su óptimo rendimiento.
                </p>
							</div>
						</div> <!-- /Category List -->

					</div>
				</div>
			</div>
		</div>
		<!-- Container End -->
	</section>

	<section class="popular-deals section bg-gray" id = "productos">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="section-title">
						<h2>Productos</h2>
						<p>Algunos de los productos que ofrecemos</p>
					</div>
				</div>
			</div>
			<div class="row">
				<!-- offer 01 -->
				<div class="col-lg-12">
					<div class="trending-ads-slide">
						<div class="col-sm-12 col-lg-4">
							<!-- product card -->
							<div class="product-item bg-light">
								<div class="card">
									<div class="thumb-content">
										<!-- <div class="price">$200</div> -->
										<a href="single.html">
											<img class="card-img-top img-fluid" src="img/products/products-1.jpg"
												alt="Card image cap">
										</a>
									</div>
									<div class="card-body">
										<h4 class="card-title"><a href="single.html">UPS150</a></h4>
										<ul class="list-inline product-meta">
											<li class="list-inline-item">
												<a href="single.html"><i class="fa fa-folder-open-o"></i>Línea
													seguridad</a>
											</li>
										</ul>
										<p class="card-text">Fuente auxiliar con cargador de batería automático, sistema
											de mantenimiento a flote.</p>
									</div>
								</div>
							</div>

						</div>
						<div class="col-sm-12 col-lg-4">
							<!-- product card -->
							<div class="product-item bg-light">
								<div class="card">
									<div class="thumb-content">
										<!-- <div class="price">$200</div> -->
										<a href="single.html">
											<img class="card-img-top img-fluid" src="{{ url_for('static', filename='img/products/products-2.jpg') }}"
												alt="Card image cap">
										</a>
									</div>
									<div class="card-body">
										<h4 class="card-title"><a href="single.html">Rauchmelder 2V4</a></h4>
										<ul class="list-inline product-meta">
											<li class="list-inline-item">
												<a href="single.html"><i class="fa fa-folder-open-o"></i>Incendio</a>
											</li>
										</ul>
										<p class="card-text">Panel para detección de incendio de 4 canales convencional.
										</p>
									</div>
								</div>
							</div>



						</div>
						<div class="col-sm-12 col-lg-4">
							<!-- product card -->
							<div class="product-item bg-light">
								<div class="card">
									<div class="thumb-content">
										<!-- <div class="price">$200</div> -->
										<a href="single.html">
											<img class="card-img-top img-fluid" src="{{ url_for('static', filename='img/products/products-3.jpg') }}"
												alt="Card image cap">
										</a>
									</div>
									<div class="card-body">
										<h4 class="card-title"><a href="single.html">GM01</a></h4>
										<ul class="list-inline product-meta">
											<li class="list-inline-item">
												<a href="single.html"><i class="fa fa-folder-open-o"></i>Nautica</a>
											</li>
										</ul>
										<p class="card-text">Equipo detector de gases explosivos para 2 sensores.
											Detecta la presencia de los gases de hidrocarburos y de Hidrogeno en
											sentinas o espacios cerrados. Automatiza los extractores.</p>
									</div>
								</div>
							</div>



						</div>
						<div class="col-sm-12 col-lg-4">
							<!-- product card -->
							<div class="product-item bg-light">
								<div class="card">
									<div class="thumb-content">
										<!-- <div class="price">$200</div> -->
										<a href="single.html">
											<img class="card-img-top img-fluid" src="{{ url_for('static', filename='img/products/products-2.jpg') }}"
												alt="Card image cap">
										</a>
									</div>
									<div class="card-body">
										<h4 class="card-title"><a href="single.html">RasPi-210</a></h4>
										<ul class="list-inline product-meta">
											<li class="list-inline-item">
												<a href="single.html"><i class="fa fa-folder-open-o"></i>Raspberry Pi
													HAT’s</a>
											</li>
										</ul>
										<p class="card-text">HAT para Raspberry Pi con funcion WDT (Watch Dog Timer).
											Supervisa si el programa sobre la Raspberry Pi se está ejecutando de forma
											correcta</p>
									</div>
								</div>
							</div>



						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<div class="text-center">
							<a href="productos.html" class="btn btn-link">Ver todos nuestros productos</a>
						</div>
					</div>
				</div>

			</div>
		</div>
	</section>


	<!--==========================
      Contact Section
    ============================-->
	<a name="contacto" id= "contacto"></a>
	<section class="section">
		<div class="container">
			<div class="section-title">
				<h2>Contáctenos</h2>
			</div>


			<div class="row wow fadeInUp">

				<div class="col-lg-6">
					<div class="mapa">
						<iframe src="https://maps.google.com/maps?q=Lascano%205322&t=&z=13&ie=UTF8&iwloc=&output=embed"
							frameborder="0" style="border:0; width: 40%; height: 400px;" allowfullscreen></iframe>
					</div>
				</div>


					<!-- <div class="form">
						<div id="errormessage"></div>
						<form action="" method="post" role="form" class="contactForm">
							<div class="form-row">
								<div class="form-group col-lg-6">
									<input type="text" name="name" class="form-control" id="name"
										placeholder="Your Name" data-rule="minlen:4"
										data-msg="Please enter at least 4 chars" />
									<div class="validation"></div>
								</div>
								<div class="form-group col-lg-6">
									<input type="email" class="form-control" name="email" id="email"
										placeholder="Your Email" data-rule="email"
										data-msg="Please enter a valid email" />
									<div class="validation"></div>
								</div>
							</div>
							<div class="form-group">
								<input type="text" class="form-control" name="subject" id="subject"
									placeholder="Subject" data-rule="minlen:4"
									data-msg="Please enter at least 8 chars of subject" />
								<div class="validation"></div>
							</div>
							<div class="form-group">
								<textarea class="form-control" name="message" rows="5" data-rule="required"
									data-msg="Please write something for us" placeholder="Message"></textarea>
								<div class="validation"></div>
							</div>
							<div class="text-center"><button type="submit" title="Send Message">Send Message</button>
							</div>
						</form>
					</div> -->
				</div>

			</div>

		</div>
	</section><!-- #contact -->


	<!--====================================
=            Call to Action            =
=====================================-->

	<section class="call-to-action overly bg-3 section-sm">
		<!-- Container Start -->
		<div class="container">
			<div class="row justify-content-md-center text-center">
				<div class="col-md-8">
					<div class="content-holder">
						<h2>De la mano con la mejor tecnología</h2>
						<h3>Somos diseñadores autorizados de Microchip.</h3>
						<img src="{{ url_for('static', filename='img/partner_logo.png') }}" style="max-width: 200px;" alt="">
					</div>
				</div>
			</div>
		</div>
		<!-- Container End -->
	</section>

	<!-- JAVASCRIPTS -->
	<script src="plugins/jQuery/jquery.min.js"></script>
	<script src="plugins/bootstrap/js/popper.min.js"></script>
	<script src="plugins/bootstrap/js/bootstrap.min.js"></script>
	<script src="plugins/bootstrap/js/bootstrap-slider.js"></script>
	<!-- tether js -->
	<script src="plugins/tether/js/tether.min.js"></script>
	<script src="plugins/raty/jquery.raty-fa.js"></script>
	<script src="plugins/slick-carousel/slick/slick.min.js"></script>
	<script src="plugins/jquery-nice-select/js/jquery.nice-select.min.js"></script>
	<script src="plugins/fancybox/jquery.fancybox.pack.js"></script>
	<script src="plugins/smoothscroll/SmoothScroll.min.js"></script>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js"
		integrity="sha512-Eak/29OTpb36LLo2r47IpVzPBLXnAMPAVypbSZiZ4Qkf8p/7S/XRG5xp7OKWPPYfJT6metI+IORkR5G8F900+g=="
		crossorigin="anonymous" referrerpolicy="Fno-referrer"></script>

	<!-- google map -->
	<script
		src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCcABaamniA6OL5YvYSpB3pFMNrXwXnLwU&libraries=places"></script>
	<script src="plugins/google-map/gmap.js"></script>
	<script src="js/script.js"></script>
    
{% endblock content %}  
</body>

