{% extends 'base.html' %}

<body>
  {% block content %}
  <div class="contenedorGrande">
    <div class="contenedorProductos" id= #borrarProductos> 
      <div class="formModificar"> 
        <h1 class="tituloForm">MODIFICAR PRODUCTOS</h1>
      
        
        <br/>
        <input type="button" onclick="history.back()" name="Volver" value="Volver"class="botonAdmin" >
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js">
        </script>
      </div>
    </div>
  </div>
{% endblock content %} 
</body>