{% extends 'base.html' %}

<body>
  {% block content %}
  <div class="contenedorGrande">
      
    <div class="contenedorProductos2"> 
      <div class= "contenedorInterior">
    
        <h1 class="tituloForm" id="cargar">MODIFICAR IMAGEN</h1>

        <form action="{{url_for('modificacionImagenBuscador')}}" method="POST" enctype="multipart/form-data">
            <p> {{ mensaje }}</p>
            <label for="nombre" class="tituloForm2"> Ingrese el nombre del producto que desea modificar la información: </label> <br>  <br>
            <input class="inputForm" required type="text" id="nombreProducto" name="nombreProducto" placeholder="Producto a modificar" /><br>  <br>
            <button type="submit" class="botonAdmin" onclick="modificaProducto()"> Buscar</button>
  
          </form>

        
        <form action="{{url_for('modificaImagen')}}" method="POST" enctype="multipart/form-data">
      
          <p>{{mensaje}}</p>
          <p>{{mensaje2}}</p>
          <h3 class="tituloForm2"> Ingrese la imagen que desea modificar: </h3> <br> 
                  
  <!-- LAS IMÁGENES SE GUARDAN EN STATIC/PRODUCTS -->
          
          <input id="selecArchivo" required type="file" name="imagen" accept="image/png,image/jpeg,image/jpg" style="display:none" onchange="detectarImagen()"><br>
          <button type="button" class="botonSelecArchivos">
            <label class="tituloForm3" for="selecArchivo" id="selecArchivoLabel"> Adjunte una imagen </label> 
          </button>
          <br>
          <br>
          <input type="submit" class="botonAdmin" id="send-signup" value="Enviar">
        </form>
      
        <br/>
        
        <input class="botonAdmin" type="button" onclick="history.back()" name="Volver" value="Volver">
      </div>
    </div>
  </div>
{% endblock content %} 
</body>