<div class="borrarForm"> 
    <h1>OPCIONES ADMINISTRADOR</h1>
  <form>
    <input type="button" class="float-left submit-button" value="Agregar Producto" onclick="redirigirAdminAgregar()" style="margin-top: 8px;"> 
    <br>

    <input type="submit" onclick="redirigirAdminAgregar()" style="margin-top: 8px;"> Agregar Producto  input </input>
    <br>

  
    <button type="button" class="botonAdmin"  onclick="redirigirAdminBorrar()"> Eliminar Producto </button>
    <br>

  
  <button type="button" class="botonAdmin" onclick="redirigirAdminModificar()" style="margin-top: 8px;"> Modificar Producto </button> 
  </form>
    
    
  
  
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js">
  </script>
  <script src="https://code.jquery.com/jquery-1.11.2.min.js" type="text/javascript">
  </script>
</div>