<div class="borrarForm"> 
    <h1>OPCIONES ADMINISTRADOR</h1>
    
    <button type="button" class="botonAdmin"  onclick="redirigirAdminBorrar()"> Eliminar Producto </button>
    <br>
  
      
    <button type="button" class="botonAdmin" onclick="redirigirAdminCargar()" style="margin-top: 8px;"> Agregar Producto </button>
    <br>

  
  <button type="button" class="botonAdmin" onclick="redirigirAdminModificar()" style="margin-top: 8px;"> Modificar Producto </button> 
    
  
  
    
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js">
  </script>
  <script src="https://code.jquery.com/jquery-1.11.2.min.js" type="text/javascript">
</script>
</div>