{% extends 'base.html' %}
<body>
  {% block content %}
  <div class="contenedorProductosGrande">
    <br/>  <br/>
    <br/>  <br/>
    
    <div class="scroollProductos">
      <div class="fondoBlur">
        <p class="tituloCategoria"> <b>Productos</b> > Línea Dispositivos </p>
        <br/>  <br/>
        <div class="tablaProductos">
          {% for linea in range (largo) %} 
            <form action="{{url_for('productosDispositivos')}}" method="POST">
              
              <div class= "cuadradoProductos" data-aos="fade-up"> 
                <img id="productos" class="imagenProductos"  alt="{{ productos[linea][1] }} " onclick="mostrarModal('{{ productos[linea][1] }}');  seleccionar('{{ imagenProducto[linea] }}')" src = "{{ imagenProducto[linea] }}">
                <h2 class="nombreProducto" style="
        text-align: center "> {{ productos[linea][1] }} </h2>
              </div>
              <dialog class= "formPerfil"id="modal{{ productos[linea][1] }}">
                <form  method="dialog">
                  <p>
                    <label for="favAnimal" class="labelDialog" ><b>Producto seleccionado: </b></label>
                  </p>
                  <p id="perfil"><b>Nombre: </b> &nbsp;  {{ productos[linea][1] }}  </p>
                  <p id="perfil"><b>Línea: </b>  &nbsp;  {{ productos[linea][2] }}  </p>
                  <p id="perfil"><b>Categoría: </b> &nbsp;  {{ productos[linea][6] }}  </p>
                  <p id="perfil"><b>Información: </b> &nbsp;  {{ productos[linea][5] }}  </p> <br/>
                  <div>
                    <button id="botonAdmin1" class= "botonVolver2" onclick="ocultarModal('{{ productos[linea][1] }}')" type="reset">Cerrar</button>
                </form>
              </dialog>
            
              {% endfor %}
          </form>
        </div>
      </div>
      <!-- Fin Modal -->
    </div>
  <input type="button" onclick="history.back()" name="Volver" value="Volver" class="botonVolverP"/>
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js">
            </script>
            <script src="./static/scripts/main.js"></script>
  </div>
  {% endblock content %}
</body>